body {
    font-family: "Montserrat", sans-serif;
    background-color: tan;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    border-style: solid;
    margin: 0;
    padding: 0;
}

h2 {
    font-style: italic;
}